@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

.block-action-img-design{
    margin: 0 20px;
}

.block-action-img-design p{
    margin-left: -25px;
    color: #373239;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins-Bold' , sans-serif;
}

.block-action-img-design ul li{
    text-align: left;
    color: #605767;
    margin: 10px 0;
}

.block-file{
    width: 117%;
    max-width: 630px;
    border: 2px dashed #605767;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    color: #999;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    margin-left: -20px;
}

.block-file p{
    margin-top: 10px;
}

.block-agree-upload{
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #605767;
    margin: 5px 0 20px 0;
}

/*checkbox*/
.img-custom-checkbox{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10px 0 -20px;
}

.img-custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
}

.img-check-mark {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.img-custom-checkbox input:checked + .img-check-mark {
    border-color: #4E008E;
}

.img-custom-checkbox input:checked + .img-check-mark::after {
    content: "";
    width: 15px;
    height: 5px;
    border: solid #4E008E;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    display: block;
}

@media (max-width: 1100px) {
    .block-file{
        width: 110%;
    }
}

@media (max-width: 880px) {
    .block-file{
        width: 100%;
        margin: 0 auto;
    }
    .block-agree-upload{
        width: 100%;
        margin: 5px 1%;
    }
}

.preview-images-grid{
    display: flex;
    gap: 5px;
}

.uploaded-images-preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 10px;
}

.preview-image-wrapper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.preview-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.remove-file-btn {
    position: absolute;
    top: 2px;
    left: 2px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #4E008E;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    transition: background-color 0.3s ease;
}

.remove-file-btn:hover {
    background: #4E008E;
    color: white;
}
