@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.modal-amount-colors{
    z-index: 9999999999;
    position: fixed;
    top: calc(50vh - 250px);
    left: calc(50vw - 650px / 2);
    width: 650px;
    border-radius: 24px;
    border: .5px solid grey;
    background-color: #F1EEF4;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-amount-colors h1{
    white-space: nowrap;
    margin: -30px 0;
    padding: 50px;
    font-size: 20px;
    font-family: 'Poppins-Bold' , sans-serif;
}

.modal-amount-colors p{
    text-align: left;
    color: #605767;
    font-size: 14px;
    font-weight: 400;
}

.block-amount-colors{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 30px 0 30px 0;
}

.block-amount-colors label{
    display: block;
}

.block-amount-colors input{
    color: #000;
    width: 100%;
    border-radius: 12px;
    border: 1px solid grey;
    background-color: #FCFCFC;
    padding: 10px 16px;
}

.modal-amount-colors button{
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    color: #fff;
    padding: 10px 16px;
    margin: 35px 0 0 0;
    border-radius: 12px;
    background-color: #4E008E;
    border: none;
    font-family: 'Poppins-Regular' , sans-serif;
}

.list-colors{
    border-radius: 12px;
    padding: 8px 16px;
    background-color: #fff;
    list-style: none;
    text-align: left;
    font-size: 14px;
    color: #373239;
}

.list-colors li{
    margin: 0 0 20px 0;
}

/*inputs*/
.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-wrapper input {
    padding-right: 30px;
    margin: 10px 0;
    height: 32px;
    font-size: 14px;
}

.input-wrapper svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (max-width: 700px) {
    .modal-amount-colors{
        width: 100%;
        left: 0;
    }
    .modal-amount-colors h1{
        padding: 30px 0;
        white-space: normal;
        font-size: 14px !important;
    }
    .input-wrapper input{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .modal-amount-colors{
        height: 100vh;
        overflow-y: auto;
        top: 0;
    }
}