.sale-settings{
    max-width: 896px;
    width: 100%;
    margin: 0 auto;
}

.sale-settings h1{
    color: #373239;
    text-align: left;
    font-size: 24px;
    margin: 20px 0 5px 0;
}

.block-info-button{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.sale-settings p{
    font-size: 14px;
    color: #373239;
    text-align: left;
}

.sale-settings-button{
    cursor: pointer;
    padding: 12px 16px;
    background-color: #4E008E;
    border-radius: 12px;
    border: 0;
    color: #fff;
}

@media (max-width: 920px) {
    .sale-settings{
        padding: 1%;
    }
    .sale-settings h1{
        text-align: center;
    }
    .block-info-button{
        padding: 0 10px;
        flex-direction: column;
    }
}

