@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.modal-templates-design {
    position: fixed;
    top: 0;
    left: calc(50vw - 668px);
    width: 100%;
    max-width: 1270px;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    background-color: #fff;
    z-index: 99999999;
}

.side-bare-templates {
    background-color: #F1EEF4;
    width: 100%;
    max-width: 296px;
    text-align: left;
    padding: 56px 16px;
}

.side-bare-templates h1 {
    letter-spacing: 1px;
    color: #373239;
    margin-bottom: 24px;
}

.template-list {
    background-color: #fff;
    border-radius: 12px;
    padding: 6px 0;
}

.block-title-templates {
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    color: #373239;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 6px 8px 6px 8px;
    border-radius: 12px;
    font-family: Poppins-Regular, sans-serif;
    margin-bottom: 0;
}

.right-content-scroll {
    max-height: 100vh;
    overflow-y: auto;
    padding: 32px;
    flex: 1;
    margin-bottom: 32px;
}

.modal-templates-design h2 {
    color: #373239;
    margin-bottom: 12px;
    text-align: left;
}

.block-images-templates {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.block-template-img {
    width: 208px;
    height: 224px;
    overflow: hidden;
    border-radius: 12px;
}

.block-template-img img {
    transform: scale(1.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 12px;
    display: block;
    margin-top: 50px;
}

@media (max-width: 1400px) {
    .modal-templates-design{
        width: 100vw;
        left: 0;
    }
}

@media (max-width: 500px) {
    .side-bare-templates{
        width: fit-content;
    }
}