@font-face {
    font-family: 'Dense';
    src: url('../../assets/Antonio-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Mаin pаge*/
.main-page-block {
    position: relative;
    height: 309px;
    background-image: url('src/assets/babd01f0bff9b46fbc280f6d9640155dabf61483.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-page-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.main-page-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}


.main-page-block h1{
    font-size: 48px;
    transform: scaleX(0.7);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Dense', sans-serif;
}

.block-button-logo{
    position: relative;
    z-index: 9999;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #4E008E;
    color: #fff;
    margin: -92px auto;
    padding: 45px 0 0 0;
}

.block-button-logo span{
    text-align: left;
    letter-spacing: 1px;
    margin-top: -100px;
    font-size: 20px;
}

.block-icon-edit{
    z-index: 9999;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*Detаils*/

.block-details{
    background: #fff;
    padding: 96px 0 126px 0;
}

.block-store-details{
    z-index: 1;
    width: 868px;
    padding: 24px 40px;
    margin: 0 auto;
    background: #F1EEF4;
    border-radius: 24px;
    border: 1px solid #CACACA;
}

.block-store-details span {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-bottom: 16px;
}

.block-store-details p {
    color: #605767;
    font-size: 14px;
    text-align: left;
}

.details-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.details-form label {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
}

.details-form input {
    background: #fff;
    color: #000;
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 12px;
    border: 1.5px solid #ccc;
    margin-top: 8px;
}

.social-inputs {
    display: flex;
    gap: 20px;
}

.social-inputs label {
    flex: 1;
}

.input-with-icon {
    position: relative;
    display: block;
}

.input-icon-wrapper {
    position: relative;
}

.input-icon-wrapper input {
    width: 100%;
    padding-right: 30px;
}

.input-icon-wrapper svg {
    position: absolute;
    right: 10px;
    top: 57%;
    transform: translateY(-50%);
    pointer-events: none;
}

/*colors*/
.block-colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));
    gap: 16px;
    margin-top: 24px;
}

.block-color {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.block-color .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/*block-button-next*/

.block-button-next {
    margin: 55px -43px;
    float: right;
}

.block-button-next button {
    width: 141px;
    height: 42px;
    border-radius: 12px;
    padding: 10px 16px;
    background-color: #4E008E;
    border: none;
    color: #fff;
}

.block-button-next p{
    color: #4E008E;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}


/*checkbox*/
.block-color .custom-checkbox {
    position: absolute;
    left: 10px;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    height: 20px;
}

.block-color .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.block-color .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #CACACA;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Галочка */
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #4E008E;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.custom-checkbox input:checked ~ .checkmark::after {
    display: block;
}

.block-color.selected {
    outline: 2px solid #4E008E;
}

@media (max-width: 1200px) {
    .main-page-block h1{
        font-size: 28px;
    }
}

@media (max-width: 900px) {
    .block-details{
        padding: 35px 10px 100px 10px;
    }

    .block-store-details{
        width: 100%;
    }
    .block-button-logo{
        position: relative;
        top: -60px;
        width: 70px;
        height: 70px;
        padding: 5px 0;
        margin-top: 0;
    }
    .block-button-logo span{
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .main-page-block h1{
        font-size: 22px;
    }
    .block-button-next{
        display: flex;
        justify-content: center;
        flex-direction: column;
        float: none;
    }
    .block-button-next button{
        margin: 0 auto;
    }
}
