.header-block{
    background: #4E008E;
    display: flex;
    justify-content: space-between;
    padding: 32px 56px;
}
/*stepper*/
.stepper-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.step-block {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.step-block input {
    display: none;
}

.checkmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.2s;
}

/* ✅ Зроблений */
.checkmark.done {
    background-color: gold;
    color: #4E008E;
    border: #4E008E;
}

/* 🔘 Поточний */
.checkmark.current {
    background-color: transparent;
    border: 2px dashed orange;
    color: #fff;
}

/* 🔲 Інші */
.checkmark.upcoming {
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
}

.step-label {
    font-size: 14px;
    font-weight: 500;
}
/*buttons*/
.stepper-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.save-exit {
    width: 128px;
    height: 42px;
    background-color: #373239;
    border: 1px solid #FBB041;
    color: #FBB041;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    width: 94px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FBB041;
    color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
}

.user-avatar{
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}