.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eff7;
    border: 1px solid #d1cfd6;
    border-radius: 8px;
    padding: 10px;
    gap: 2px;
    font-family: sans-serif;
    margin: 30px 57px 20px 57px;
}

.pagination-button,
.pagination-page {
    padding: 8px 12px;
    background: transparent;
    border: none;
    /*border-left: 1px solid #d1cfd6;*/
    border-right: 1px solid #d1cfd6;
    color: #5f5a68;
    cursor: pointer;
    font-size: 14px;
}

.pagination-button:first-child {
    border-left: none;
    /*border-top-left-radius: 6px;*/
    /*border-bottom-left-radius: 6px;*/
}

.pagination-button:last-child {
    border-right: none;
    /*border-top-right-radius: 6px;*/
    /*border-bottom-right-radius: 6px;*/
}

.pagination-page.active {
    background-color: #ffffff;
    font-weight: bold;
}

.pagination-page.dots {
    cursor: default;
    color: #aaa;
}

@media (max-width: 1000px) {
    .pagination-container{
        margin: 0;
    }
}
