@font-face {
    font-family: 'Dense';
    src: url('../../assets/Antonio-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.block-products{
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #eee;
    height: 184px;
}

.block-products h1{
    text-transform: uppercase;
    float: left;
    position: relative;
    left: 10px;
    margin: 50px 0 30px 40px;
    font-size: 36px;
    font-family: 'Dense', sans-serif;
    /*transform: scaleX(0.7);*/
    color: #000;
    letter-spacing: 2px;
}

.button-close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.block-sort-actions {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.sort-selected {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.sort-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 180px;
    border-radius: 4px;
}

.sort-item {
    padding: 8px 12px;
    font-size: 14px;
    color: #605767;
    transition: background 0.2s;
}

.sort-item:hover {
    background-color: #f0f0f0;
}

.sort-item.active {
    font-weight: 600;
    color: #4E008E;
    background-color: #E6DFFF;
}

/*tabs*/
.block-tabs {
    position: absolute;
    left: 50px;
    bottom: 12px;
    width: 381px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.tab-store{
    outline: 1px solid gray;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 152px;
    height: 42px;
    background-color: #fff;
    border-radius: 22px 22px 0 0;
    font-size: 14px;
    color: gray;
    white-space: nowrap;
}

.tab-store span{
    border-radius: 50%;
    outline: 1px solid gray;
    padding: 0 6px;
    font-size: 12px;
}

.check-icon {
    width: 18px;
    height: 18px;
    stroke: #888;
    stroke-width: 2;
    fill: none;
    outline: 1px solid gray;
    border-radius: 50%;
}

.tab-catalog{
    outline: 1px solid gray;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 221px;
    height: 42px;
    background-color: #fff;
    border-radius: 22px 22px 0 0;
    font-size: 14px;
    color: gray;
}

.tab-catalog span{
    border-radius: 45%;
    outline: 1px solid gray;
    padding: 2px 5px;
    font-size: 10px;
}

.tab {
    padding: 12px 20px;
    border-radius: 22px 22px 0 0;
    color: #4E008E;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
}

.tab span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #4E008E;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 999px;
}

.tab .check-icon path {
    stroke: gray;
    stroke-width: 2;
    fill: none;
}

.tab.active {
    background: #4E008E;
    color: #fff;
}

.tab.active span {
    background: #FFA500;
    color: #fff;
}

.tab.active .check-icon path {
    stroke: #fff; /* або #fff */
}

.tab.active .check-icon{
    background: #9569BA;
}

    /*actions*/
.block-actions-products{
    width: 100%;
    max-width: 1600px;
    white-space: nowrap;
    letter-spacing: 0.5px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 50px;
    margin: 0 auto;
    font-size: 16px;
}

.block-sort-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.block-sort-actions span{
    margin: 0 0 0 10px;
}

.buttons-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.button-remove{
    cursor: pointer;
    width: 196px;
    padding: 10px 0 10px 20px;
    color: #C33E36;
    font-weight: 500;
    font-size: 14px;
    border-radius: 12px;
    outline: 1.5px solid #C33E36;
    background-color: #FFF2F2;
    display: flex;
    align-items: center;
}

.button-add{
    cursor: pointer;
    width: 168px;
    padding: 10px 18px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    border-radius: 12px;
    background-color: #4E008E;
    display: flex;
    align-items: center;
}

.button-select{
    cursor: pointer;
    width: 99px;
    padding: 10px 16px 10px 14px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    border-radius: 12px;
    outline: 2px solid #4E008E;
    background-color: #F1EEF4;
}

/*filters products*/
.block-filters-and-products{
    display: flex;
    justify-content: space-evenly;
}

.block-cards-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0 10px;
    /*overflow-y: auto;*/
}

.block-card-pagination{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (min-width: 1440px) {
    .block-filters-and-products{
        justify-content: center;
    }
}

@media (max-width: 1400px) {
    .block-card-pagination{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .block-card-pagination{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .block-card-pagination{
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media (max-width: 780px) {
    .block-sort-actions{
        flex-direction: column;
    }
    .block-card-pagination{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 700px) {
    .block-actions-products{
        flex-direction: column-reverse;
    }
    .count-projects{
        margin: 20px 0 10px 0;
    }
    .sort-dropdown{
        left: auto;
    }
}

@media (max-width: 500px) {
    .block-products{
        display: flex;
        justify-content: center;
    }
    .block-products h1{
        font-size: 18px;
        float: none;
        margin: 60px 0;
    }
    .block-tabs{
        width: 100%;
        left: 0;
        padding: 0 1%;
    }
    .tab{
        font-size: 10px;
        padding: 12px 10px;
    }
    .block-card-pagination{
        place-items: center;
    }
}
