.sell-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1eef4;
    padding: 10px 15px 10px 71px;
    margin: 0 57px;
    border-bottom: 2px solid #cacaca;
}

.sell-checkbox {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 5px;
}

.sell-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.sell-checkmark {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

.sell-checkbox input:checked + .sell-checkmark {
    border-color: #4e008e;
}

.sell-checkbox input:checked + .sell-checkmark::after {
    content: "";
    width: 15px;
    height: 5px;
    border: solid #4e008e;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    display: block;
}

.sell-card img {
    width: 80px;
    height: 80px;
    margin-left: -25px;
}

.sell-title-colors {
    width: 200px;
    display: flex;
    height: 80px;
    gap: 30px;
    flex-direction: column;
    padding: 0 0 0 20px;
    margin-left: -25px;
}

.sell-title-colors h2 {
    text-align: left;
    margin-left: -3px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #373239;
}

.sell-color-dots {
    display: flex;
    gap: 12px;
    align-items: center;
}

.sell-dot {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow:
            0 0 0 2px #fff,
            0 0 0 4px #cacaca;
    transition: transform 0.2s, box-shadow 0.2s;
}

.sell-dot:hover {
    transform: scale(1.2);
    box-shadow:
            0 0 0 2px #fff,
            0 0 0 4px #000;
}

.sell-cost,
.sell-price {
    width: 124px;
    font-size: 14px;
    color: #373239;
    text-align: center;
}

.sell-price {
    color: #aa0003;
    font-weight: 700;
}

.sell-button-cost {
    cursor: pointer;
    padding: 0 5px;
    color: #4e008e;
    border-bottom: 2px solid #4e008e;
}

@media (max-width: 1000px) {
    .sell-card {
        padding: 1%;
        margin: 0;
    }

    .sell-card img {
        margin-left: 0;
    }

    .sell-cost,
    .sell-price {
        width: 50px;
        font-size: 12px;
    }

    .sell-button-cost {
        font-size: 10px;
    }
}

